<footer class="bg-gray-900 text-white py-4">
  <div class="container mx-auto flex items-center justify-between">
    <p class="text-sm">
      Daten:
      <a
        class="text-sm underline"
        href="https://ages.at/"
        target="blank"
        rel="external"
        referrerpolicy="origin"
      >
        AGES
      </a>
    </p>
    <p class="text-sm">
      Erstellt von
      <a
        class="text-sm underline"
        href="https://www.btree.at"
        target="blank"
        rel="external"
        referrerpolicy="origin"
      >
        Hannes Oberreiter
      </a>
    </p>
    <a
      class="text-sm underline"
      href="https://github.com/HannesOberreiter/wassertemperatur_at"
      target="_blank"
      rel="external"
      referrerpolicy="origin"
    >
      GitHub
    </a>
  </div>
</footer>
