---
import { Image } from "astro:assets";
import aquavital from "../assets/logo_aquavital.png";
---

<div class="flex justify-around mb-2">
  <a
    class="text-center"
    href="https://www.aquavital.at/"
    target="_blank"
    rel="external"
    referrerpolicy="origin"
  >
    Domain Sponsor:
    <Image src={aquavital} alt="Sponsor Aquavital Kalkmagnet" />
  </a>
</div>
